<mat-sidenav-container class="h-screen" hasBackdrop="true">
    <mat-sidenav #drawer mode="side" [(opened)]="opened" class="w-72 h-screen shadow-lg relative">
        <div class="h-full flex flex-col overflow-y-hidden shadow bg-[#fdfdfd]">
            <button mat-icon-button (click)="opened = false">
                <mat-icon>menu_open</mat-icon>
            </button>
            <img src="/assets/logo.png" alt="Logo" class="w-auto mb-4 mt-2 h-auto" />
            <app-sidebar-container class="flex-1" />
        </div>

    </mat-sidenav>

    <mat-sidenav-content class="bg-[#fdfdfd]">

        <main class="flex-1 flex flex-col h-full">
            @if(!opened) {
            <button mat-icon-button (click)="opened = !opened">
                <mat-icon>menu</mat-icon>
            </button>
            }
            <router-outlet />
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
