<mat-sidenav-container class="h-screen">
    <mat-sidenav #drawer mode="side" [(opened)]="opened" class="w-72 h-screen shadow-lg relative">
        <div class="h-full  overflow-y-hidden bg-[#fdfdfd]">
            <img src="/assets/logo.png" alt="Logo" class="w-auto mb-4 mt-2 h-auto" />
            <app-sidebar-container />
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="bg-[#fdfdfd]">
        <!-- <button mat-icon-button class="absolute left-0" (click)="opened = !opened">
            <mat-icon>{{ opened ? 'chevron_left' : 'menu' }}</mat-icon>
        </button> -->
        <main class="flex-1 flex flex-col h-full">
            <router-outlet />
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
