<mat-form-field class="flex-1" appearance="fill">
  <textarea
    aria-label="Wiadomość dla czata"
    placeholder="Czy masz do mnie jakieś pytanie?"
    [formControl]="messageControl"
    matInput
    cdkTextareaAutosize
    #autosize="cdkTextareaAutosize"
    cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="5"></textarea>
</mat-form-field>

@if (actionStatus() === 'idle' || actionStatus() === 'error') {
  <button mat-icon-button color="primary"
          (click)="sendMessage()"
          [disabled]="!messageControl.valid">
    <mat-icon>arrow_circle_up</mat-icon>
  </button>
} @else if (actionStatus() === 'pending') {
  <button mat-icon-button color="primary" disabled>
    <mat-icon class="animate-spin">autorenew</mat-icon>
  </button>
} @else if (actionStatus() === 'generating') {
  <button mat-icon-button color="warn"
          (click)="pauseGeneration()">
    <mat-icon>pause</mat-icon>
  </button>
}
